//BEM Elements

@mixin e($element) {
	&__#{$element}{
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier}{
		@content;
	}
}

//Flexbox mixin

@mixin flexBox($disp, $flexDir, $flexWrap){
		display: $disp;
		flex-direction: $flexDir;
		flex-wrap: $flexWrap;

		@content;

}

//Text 

@mixin text($fontSize:$base__font-size, $color:null, $weight:null){

	font-size: em($fontSize);
	color: $color;
	font-weight: $weight;
	

}

// Generate modifier color classes

@mixin ui-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;
			@content;
			
		}
	}

}

// Adjacent sibling margins

@mixin doubly($margin: 1em) {
	& + & {
	  margin-left: $margin;
    @content;
	}
}

@mixin g-columns {
  // Calculate grid columns

@for $i from 1 through $g-col-count {
  
  $context: g-context($g-col-width, $g-col-count, $g-gutter-width) !global;

  $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
 
  // Generate column modifier classes
    &--#{$i} {
      width: percentage($target / $context);
     

      @content;

    }
   
  }          
          
}        
        




//Media Query Mixins

@mixin mq($break){


	@if $break == "small" {
		@media (min-width:$brkpoint-xs) and (max-width: $brkpoint-m){
        	@content;
    	}
	}
	@else if $break == 'medium'{
		@media (min-width:$brkpoint-m + 1){
          @content;
     	}
	}

	@else if $break == "large" {
      @media (min-width:$brkpoint-lg) {
          @content;
      }
  	} 
   	@else  {
      @error "Whoops! No value could be retrieved for] ' #{$break}  ' "
    
    }

}