

.message-form {
	[type='text'] {
		display:block;
		width:100%;
		padding: 10px;
		margin-bottom:20px;
		font-size: .75em;
		background-color: #fbfbfb;	
		border-radius: 5px;
		border:solid 1px $grey-purple;
	}

	textarea {
		width: 100%;
		padding: 10px;
		font-size: .75em;
		background-color: #fbfbfb;
		border-radius: 5px;
		margin-bottom:20px;


	}

	[type='submit'] {
		background-color:$faded-indigo;
		width:100%;
		color: $white;
		border:none;
		border-radius: 5px;
		padding:10px;
	}
}

fieldset {
	border: none;
	padding: 0px;


	label {
		
		color: $grey-black;
		font-size: .75em;
	}

	select  {
		color: $grey-black;
		font-size: .75em;
		padding: 10px;
		margin: 10px 0;
	
	}

	.settingLabel {
		background-color: #fff;
				box-shadow: inset 0 0 0 30px #fff; 

		font-size:.75em;


	}

}

.switch-ios.switch-light > span {
	display: inline-block;
	float:right;
	margin-bottom:10px;
	width:30%;

}