.wrapper {
	min-height: calc(100vh - 20px);

}

.grid-container {
	@include mq(medium){		
		@include flexBox(flex, row, nowrap);
	}
}

main {
	@include mq(medium){
		@include flexBox(flex, column, nowrap);

		min-width: calc(100vw - 65px);

	}

	@include mq(large){
		@include flexBox(flex, column, nowrap);

		min-width: calc(100vw - 67px);

	}
}


