
.iconColor {
	color: $white;
	fill: currentColor;
}
.facebook, .twitter, .google{
	fill: currentColor;
}

.icons {
	display:none;
}



.members{
	
	border-radius: 50%;
	width:60px;
	padding-right: 10px;

}

.bell {
	width:30px;
	cursor: pointer;
}



ul img {
	width:30px;
	padding-right: 10px;

}

li svg {
	background-color: $twilight-purple;
	border-radius:50%;
	width: 80px;
	height: 80px;
}
