.members{
	width:40px;
	border-radius: 50%;

}

.bell {
	width:30px;
}

ul img {
	width:20px;
}

.social {

	
	span:nth-child(1)  {
			background-color:$faded-indigo;	
			width:100px;
			height:100px; 
			display: inline-block;		
			border-radius: 50%;
		
		img {
			
			width:50px;
			margin: 0 auto;
		
		}

	}



	li {
		color: $faded-indigo;
		font-weight:bold;
		border: solid 1px $faded-indigo;
	}
}