


.dashboard {
		/*@include flexBox(flex, row, wrap);*/
		
		input {
			max-width: 100%;
			width: 100%;
			padding: 10px;
			border: solid 1px $grey-purple;
			border-radius: $br;
			margin-bottom: 20px;
			color: $grey-purple;
		}

		input:focus{
			border-bottom: solid 3px $faded-indigo;
			transition-duration: .5s;
			transition-property: border;

		}
	
}


.alert  div {
	@include flexBox(flex, row, nowrap);
	justify-content: space-between;
	background-color: $faded-indigo;
	color: $white;
	padding:10px;
	border-radius: 5px;

	
	
	span:first-child {
		color: $white;
		font-size: .75em;		
		line-height: 20px;
		&:hover {
			text-decoration:none;
		}
	}

	span:nth-child(2) {
		
		font-size:20px;
		padding-left:20px;
		cursor: pointer;


	}

}

.time {
	ul {
		@include flexBox(flex, row, wrap);
		padding: 10px;	
		justify-content: space-between;
		font-size:.75em;

		li:hover{

			background-color: $green;
			border-radius: 10px;
			padding: .25em;
			color: $white;
		}
	}

}


.new-members-list {
	p{
		padding: 0px;
	}

	a {
		font-size:14px;
		color:$faded-indigo;
	}




}

.social {

	li {
		@extend %clearfix;
		margin-bottom:10px;
		padding: 10px;
		border: solid $grey-purple 1px;
		color: #fff;


		svg {
			float: left;	
			@extend %clearfix;
			
		}

		div{					

			padding-left: 20px;	
			display: inline-block;
		}

		span {
			display: block;

		}

		span:first-child{
			font-size:18px;
			color:$faded-indigo;
			font-weight: bold;
		}

		span:nth-child(2){
			font-size:50px;
			color: $grey-black;
		}
	}





	
}

footer {
	height: 100px;
}



.members-new {

	@extend %clearfix;
	margin-bottom: 10px;

	img {
		float:left;
		padding-left: 10px;
		display: inline-block;
	}

	p{
		margin-bottom:0px;
	}

	div {
		float: right;
		font-size: 12px;
		color: $grey-purple;
	}

}


.messages {

	div{

		@extend %clearfix;
		margin-bottom: 10px;


		img {
			float:left;
			padding-left: 10px;
			display: inline-block;
		}

		p{
			margin:0px;
			font-size:14px;
			color:$grey-black;
		}
	}

}

.new-members-list, .messages , .social, .mobileusers, .dailytraffic, .traffic{

	border-bottom:  1px  solid $grey-purple;

}

section,footer {
	padding: 10px;
}


