.dashboard {
		@include flexBox(flex, row, wrap);
		

		div {

		
				padding: 10px 10px 5px 10px;
				display: inline-block;
				order:2;
			
		}
		
}


.alert {
	background-color: $faded-indigo;
	color: $white;
	padding:10px;
	margin:10px;
	font-size: .75em;
	border-radius: 5px;

	a:link {
		color: $white;
		text-decoration:none;

		&:hover {
			text-decoration:none;
		}
	}

}

.time {
	ul {
		@include flexBox(flex, row, wrap);
		padding: 10px;	
		justify-content: space-between;
		font-size:.75em;

		li:hover{

			background-color: $green;
			border-radius: 10px;
			padding: .25em;
			color: $white;
		}
	}

}

section {
	
	border-bottom: 1px solid $grey-purple;
}
.social {

	li {
		@extend %clearfix;
		margin:10px;
		padding: 10px;
		border: solid black 1px;
		color: #fff;


		svg {
			float: left;	
			@extend %clearfix;
			fill: currentColor;	
		}

		div{					

			padding-left: 20px;	
			display: inline-block;
		}

		span {
			display: block;

		}

		span:first-child{
			font-size:18px;
			color:$faded-indigo;
			font-weight: bold;
		}

		span:nth-child(2){
			font-size:50px;
			color: $grey-black;
		}
	}





	
}

footer {
	height: 100px;
}



.members-new {

	@extend %clearfix;

	img {
		float:left;
		padding-left: 10px;
		display: inline-block;
	}

	div	div{
		float : right;
		display: inline;
	}

}
