header {
	background-color: $faded-indigo;
	color: $white;
	@include flexBox(flex, row, wrap);
	/*justify-content: space-between;*/

}

.name {
	display: none;
}

.title {
	padding-top: 30px;
	
}


nav {
	background-color:$twilight-purple;
	color:$white;
		li {

			a {
				display: block;
				color: $white;
				text-decoration: none;

				&:hover {
					text-decoration: none;
					background-color: $grey-purple;
				}
			}
		}
	
}

