header {
	background-color: $faded-indigo;
	color: $white;
	padding:10px;
	@include flexBox(flex, row, wrap);
	justify-content: space-between;

}

.menu-btn {
	vertical-align: top;
	display: inline-block;


	@include mq (medium){
		display:none;
	}
}

.name {
	display: none; 
}

.title {
	padding-top: 20px;
	font-size: 2em;
	
}


nav {

	height:50px;
	background-color:$twilight-purple;
	color:$white;
	@include flexBox(flex, row, nowrap);
	justify-content:space-around;
	
	@include mq(medium){
	
		@include flexBox(flex, column, wrap);
		min-height: calc(100vh - 20px);
;
		
	}
			a {
				
				color: $white;
				text-decoration: none;
				padding:10px;

				&:hover {
					border-bottom:3px solid $white;
					text-decoration: none;
					background-color: $grey-purple;
					
					@include mq(medium){
						border-left: 5px solid $green;
						background-color: transparent;
						border-bottom:none;
					}
				}
				span {
					display:none;
				}

				@include mq(medium){
					@include flexBox(flex, column, nowrap);	
					padding:10px;
				}

			}
}

