header {
	background-color: $faded-indigo;
	color: $white;
	padding:10px;
	@include flexBox(flex, row, wrap);
	justify-content: space-between;

}

.menu-btn {
	vertical-align: top;
	display: inline-block;

	@include mq (medium){
		display:none;
	}
}

.name {
	display: none; 
}

.title {
	padding-top: 30px;
	
}


nav {
	background-color:$twilight-purple;
	color:$white;
		li {

			a {
				display: block;
				color: $white;
				text-decoration: none;
				padding: 10px 5px;


				&:hover {
					border-left:3px solid $white;
					text-decoration: none;
					background-color: $grey-purple;
				}
			}

			

		}

	@include mq(medium){
		display:block;
		float: left;
		width:20%;

		
	}	
	
}

