//=========================================================
// Base Styles
//=========================================================

* {
	
	box-sizing:  border-box;
}

ul {
	list-type:none;
}

nav img, header img { width:20px;}