//=========================================================
// Base Styles
//=========================================================

* {
	
	box-sizing:  border-box;
}

ul {
	list-type:none;
}

img { width:50px;}