//=========================================================
// Base Styles
//=========================================================

* {
	
	box-sizing:  border-box;
}

body {
	font-family: $primary-font-stack;	
}

ul {
	list-style-type:none;
	margin:0px;
}

nav img, header img { width:20px;}